header{
    display: flex;
    height: 80px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;

background: #FFFFFF;
}
.logo{
    display: flex;
    position: absolute;
    top: 30px;
    left: 30px;
}

.logo a{
    text-decoration: none;
    padding-left: 50px;
    height: 31px;
    width: 145px;
    left: 215px;
    top: 24px;
    font-family: Raleway;
   font-size: 26px;
   font-weight: 700;
   line-height: 31px;
   letter-spacing: 0.03em;
    text-align: right;
    color: #2196F3;
   
    
}
 .navegacion{
    margin-left: 300px;
    display: flex;
    position: relative;
 }
 .navegacion li{
    list-style: none;

 }
 .navegacion li a{
    text-decoration: none;
    margin-left: 50px;
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

 }

 #estudio{
   color: #2196F3;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   left: 453px;
   top: 32px;
 }

.contacto{
    display: flex;
    margin-left: 200px;
    padding-top: 20px;
}
.contacto li{
    list-style: none;
}
.contacto li a {
    text-decoration: none;
    padding-left: 50px;
    color: #2196F3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
#tel{
   color: #757575;

}
 .banner{
    background-color: #2F303A;
    ;
    width: 100%;
    height: 600px;
 }

 .banner h1{
    text-align: center;
    padding-top: 20%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
 }

 .banner button{
    margin-left: 43%;
 }

button{
     color:#ffffff;
     padding: 10px;
     text-align: center;
     font-size: 20px;
     background: #2196F3;
     border: none;
     border-radius: 5px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     font-size: 16px;
     line-height: 30px;
     letter-spacing: 0.06em;
}
button{
    cursor: pointer;
}
 .division1{
    display: flex;
    text-align: center;
    width: 100%;

 }

 .division1 article{
  width: 33%;
  padding-left: 17px;
 }

 article{
    padding-top: 30px;
    width: 100%;
    text-align: center;
 }

.division2 h2 {
    text-align: center;
 }

 .imagenes{
    display: flex;
    width: 100%;
 }

 .imagenes li{
    list-style: none;
 }
  .imagenes li {
    padding-top: 30px;
    width: 33%;
    
  }

  .nuestro-equipo h2{
    text-align: center;
    margin-top: 50px;
    
  }
  .nuestro-equipo{
    width: 100%;
  }

  .equipo{
    display: flex;
  }
  .equipo li img{
    width: 100%;

  }

  .equipo li{
    list-style: none;
  }

  footer{
    width: 100%;
    height: 252px;
    background: #2F303A;
    display: block;
  }

  address{
    display: grid;
    margin-top: 70px;
    padding-left: 70px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

  }

.logo-footer{
        text-decoration: none;
        

  }
  
.logo-footer h4{
    padding-left: 70px;
    position: relative;
    top: 70px;
    color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
  
    
  }


  address a{
   color: #FFFFFF99;
   text-decoration: none;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
  }
  