*{
   margin: 0px;
   padding: 0px;
}

body{
   font-family: 'Roboto';
}

header{
   background-color: #ffffff;
   width: 100%;
   height: 80px;
   display: flex;
}

#logo{
   margin-right: 100px;
   margin-left: 100px;
   margin-top: 25px;
   margin-bottom: 25px;
   text-decoration: none;
   color: #2196F3;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
}

.navegacion{
   margin-right: 200px;
   margin-top: 35px;
   margin-bottom: 30px;
}

.navegacion ul {
   display: flex;
}

.navegacion ul li{
   margin-right: 50px;
   list-style: none;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
}

.navegacion ul li a{
   text-decoration: none;
}

.navegacion ul li a:hover{
   color: green;
}

#contactos{
   display: flex;
   margin-top: 35px;
   margin-bottom: 30px;
   margin-left: 100px;
}

#contactos li{
   margin-left: 50px;
   list-style: none;
   
}

#contactos li a{
   text-decoration: none;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   color: #2196F3;
}

#contactos li a:hover{
   color: green;
}

.banner{
   background: #2F303A;
   width: 100%;
   height: 600px;
}

.banner h1{
   font-weight: 900;
   font-size: 44px;
   line-height: 60px;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: #FFFFFF;
   padding-top: 250px;
   padding-left: 13%;
}

button{
   margin-left: 40%;
   margin-top: 30px;
   width: 261px;
   height: 50px;
   background: #2196F3;
   border-radius: 4px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border: none;
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   color: #ffffff;
   cursor: pointer;
}

button:hover{
   background-color: orangered;
}

.content1 article h2{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #212121;
   text-align: center;
}

.content1 article p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #757575;
   margin-top: 10px;
   text-align: justify;
   width: 270px;
}

.content1 article{
   height: 75px;
   margin: 30px;
}

.content1{
   display: flex;
   margin-top: 95px;
   margin-left: 20px;
   margin-right: auto;
}

.content2{
   margin-top: 140px;
}

.pictures{
margin-left: 125px;

}
.pictures  img{
   margin: 3px;
}

.content2 h2{
   text-align: center;
   margin-bottom: 55px;

}

.content3{
   width: 100%;
   height: 648px;
   background: #F5F4FA;
   margin-top: 100px;
}

.content3 h2{
   text-align: center;
   padding-top: 100px;
   padding-bottom: 50px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   letter-spacing: 0.03em;
   color: #212121;
}

.equipo{
   margin-right: 50px;
   margin-left: 100px;
}

.equipo img{
   margin: 10px;
}

footer{   
   width: 100%;
   height: 252px;
   background: #2F303A;
}

footer .logo-footer {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
   color: #2196F3;
   text-decoration: none;
}

footer p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #FFFFFF;
   width: 200px;
}

footer ul li a{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
}

footer ul li {
   list-style: none;
}

.pie{
   margin-left: 215px;
   padding-top: 60px;
}

.nombres{
   display: inline-block;
}

.nombres h4{
   width: 270px;
   background-color: #FFFFFF;
   margin-left: 10px;
   margin-top: 0%;
}

.nombres p {
   margin-left: 10px;
   width: 270px;
   background-color: #ffffff;
   box-shadow: 0px 2px 1px 0px #00000033;
   box-shadow: 0px 1px 1px 0px #00000024;
   box-shadow: 0px 1px 3px 0px #0000001F;
}

footer li a:hover{
   color: green;
}

.centrar{
   display: flex;
   margin-left: 23%;
   margin-top: 40px;
}

button{
   width: 150px;
   height: 38px;
   margin: 2px;
   padding: 5px;
}

.main{
   width: 1170px;
   height: auto;
   margin-left: auto;
   margin-right: auto;
}

.productos{
   margin-top: 50px;
   display: flex;
}

.productos li{
   list-style: none;
   margin-left: 20px;
}

.productos h4{
   margin-top: 20px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 36px;
   letter-spacing: 0.06em;
   color: #212121;
}

.productos p{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.03em;
   color: #757575;
}

.footer-portafolio{  
  width: 100%;
  height: 252px;
  background: #2F303A;
  margin-top: 82px;
  display: flex;
}

.pie-pag{
   margin-top: 60px;
   margin-left: 215px;
}

.pie-pag p {
   width: 231px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: #FFFFFF;
}

.logo-footer{
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
   color: #2196F3;
   text-decoration: none;
}

.info-footer li a {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
}

.logos{
   position: relative;
   margin-left: 156px;
   margin-top: 70px;
}

.info-footer li{
   list-style: none;
}

.logos h6{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #FFFFFF;
}

.logos ul{
   display: flex;
   margin-top: 20px;

}

.logos ul li{
   margin-right: 10px;
   list-style: none;
}

#sitios-web:hover{
   background-color: orangered;
   cursor: pointer;
}

#aplicaciones:hover{
   background-color: orangered;
   cursor: pointer;
}

#diseño:hover{
   background-color: orangered;
   cursor: pointer;
}

#marketing:hover{
   background-color: orangered;
   cursor: pointer;
}