*{
    margin: 0px;
    padding: 0px;
    
}

header{
    width: 100%;
    height: 80px;
    background-color: #eeeeee;
    display: flex;
}

#logo{
    margin-left: 150px;
    margin-top: 20px;
    margin-right: 150px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.navegacion {
    display: flex;
    margin-top: 32px;
}

.navegacion li a {
    text-decoration: none;
    margin-right: 50px;
}
.navegacion li a:hover{
    color: red;
}
.navegacion li{
    list-style: none;;
}

#contactos{
    display: flex;
    margin-left: 270px;
    margin-top: 32px;
}

#contactos li a{
    margin-right: 30px;
    text-decoration: none;
}

#contactos li a:hover{
    color:yellow;
}
#contactos li{
    list-style: none;
}
    
.busqueda{
    width: 100%;
    height: 38px;

}

.boton-nav{
    height: 38px;
    margin-right: 10px;
    
}

.centrar{
    margin-top: 106px;
    margin-left: 375px;
}

#todo{
    width: 73px;
    background: #2196F3;
    border-radius: 4px;
    color: #ffffff;
    border: none;
}
#todo:hover{
    background-color: aqua;
    cursor: pointer;
}
#sitios-web{
    width: 128px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

#aplicaciones{
    width: 145px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

#diseño{
    width: 103px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    background: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;    
    border: none;
}

#marketing{
    width: 130px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;    
}

.main{
    width: 1170px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.productos{
    margin-top: 50px;
    display: flex;

}

.productos li{
    list-style: none;
    margin-left: 20px;
}

.productos h4{
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.productos p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}


.footer-portafolio{  
   width: 100%;
   height: 252px;
   background: #2F303A;
   margin-top: 82px;
   display: flex;
}

.pie-pag{
    margin-top: 60px;
    margin-left: 215px;
}


.pie-pag p {
    width: 231px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.logo-footer{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.info-footer li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.logos{
    position: relative;
    margin-left: 156px;
    margin-top: 70px;
}
.info-footer li{
    list-style: none;
}
.logos h6{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.logos ul{
    display: flex;
    margin-top: 20px;

}

.logos ul li{
    margin-right: 10px;
    list-style: none;
}


#sitios-web:hover{
    background-color: orangered;
    cursor: pointer;
}

#aplicaciones:hover{
    background-color: orangered;
    cursor: pointer;
}

#diseño:hover{
    background-color: orangered;
    cursor: pointer;
}

#marketing:hover{
    background-color: orangered;
    cursor: pointer;
}